*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

/* Navigation Section Goes Here */
nav{
    background-color: orange;
    padding: 20px 10px;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
}

nav ul li{
    color: #0000;
    border: 3px solid lightblue;
    padding: 5px 20px;
}

/* Banner Section goes Here */
.banner{
    margin: 20px auto;
    /* width: 980px; */
    text-align: center;
}

.bannerContent{
    border: 3px solid pink;
    display: inline-block;
    padding: 5px 100px;
}

/* Main Container Section Goes Here */

.container{
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 10px;
}

/* main one section goes here */
.mainOne{
    border: 4px solid greenyellow;
    padding: 10px 15px;
    width: 45%;
    background-color: aliceblue;
}

.mainOne div{
    height: 400px;
    background-color: yellowgreen;
    margin-bottom: 5px;
}

/* main two section goes here */

.secondSection{
    width: 45%;
}

.mainTwo{
    background-color: white;
    width: 100%;
    height: 400px;
    border: 2px solid black;
    padding: 30px 140px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.mainTwoFirst{
    background-color: brown;
    height: 350px;
}

/* main three section goes here */
.mainThree{
    background-color: white;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    padding: 10px 15px;
}

.mainThree div{
    background-color: brown;
    width: 45%;
}

/* Footer Section Goes Here */

footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: skyblue;
}