/* Default Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Common Styles*/
p{
    text-align: center;
    margin: 45% 0;
    font-size: 25px;
}

/*body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}*/

/* Container Styles */
.container{
    width: 1200px;
    margin: 0 auto;
    /* padding: 20px; */
    background-color: #d6d6d6;
}

/*Style for the divs*/
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*margin: 10% auto;*/
    height: 960px;
}

.container div{
    width: 300px;
    height: 300px;
}

.box-1{
    background-color: #0d9616;
    border: 10px solid white;
}

.sub-box{
    display: block;
    width: 150px;
    height: 150px;
    background-color: #ffff06;
    border: 5px solid #ffc2d1;
    margin: 25% auto;
}

.box-2{
    background-color: yellow;
    border: 10px solid white;
}

.box-3{
    background-color: #ae0f1d;
    border: 10px solid white;
}
